*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow:hidden;
    background: linear-gradient(to right, #4daf54,#3d8880);
/* 
    display: flex;
    justify-content: center;
    align-items: center; */
}

.open-modal-btn{
    width:  150px;
    height: 60px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 6px;
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.modal{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.6);
}

.modal_inner{
    top: 50px;
    width: 400px;
    position: relative;
    margin: auto;
    background:white;
    overflow: hidden;
    border-radius: 5px;
    animation: modalShow 0.2s linear;
}

.modal_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: rgb(180, 50, 72);
    color: white;
}

.modal_body{
    padding: 15px;
}

.modal_body h2{
    color: rgb(180, 50, 72);
    margin-bottom: 10px;
}

.modal_footer{
    padding: 15px;
    text-align: right;
}

.modal_footer button{
    padding: 10px 20px;
    color: white;
    background: rgb(180, 50, 72);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor:pointer;
}

.hide{
    display: none;
}

@keyframes modalShow {
    from{   
        opacity: 0;
        top: -200px;
    }

    to{
        opacity: 1;
        top:50;
    }
}